

<mat-toolbar-row>
  <button mat-raised-button [routerLink]="['/categories']">Back</button>
</mat-toolbar-row>

<div style="margin-left: 4rem;margin-right: 4rem;">

  <div class="full-width">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Categoria (ita)</mat-label>
      <input matInput [formControl]="itaCategoryValue">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Category (eng)</mat-label>
      <input matInput [formControl]="engCategoryValue">
    </mat-form-field>

  </div>
</div>
<div class="mt-2"></div>

<mat-toolbar-row>
  <button mat-raised-button (click)="save()">Salva</button>
</mat-toolbar-row>
