<footer >
  <div fxFlex="25">
        <ul>
          <li>ABOUT US</li>
          <li >CONTACT</li>
        </ul>
      </div>

      <div fxFlex="25">
        <ul>
          <li>PRIVACY POLICY</li>
          <li>COOKIE POLICY</li>
        </ul>
      </div>
      <div fxFlex="25">
        <ul>
          <li>TERMS AND CONDITIONS</li>
          <li>RETURN AND REFUNDS</li>
        </ul>
      </div>

      <div fxFlex="25">
        <ul style="display: flex">
          <li>
            <img src="assets/pinterest.webp" height="32">
          </li>
          <li><img src="assets/instagram.webp" height="32"></li>
          <li><img src="assets/facebook_icon.webp" height="32"></li>
        </ul>
      </div>

</footer>
