<h1 mat-dialog-title>Product variants</h1>
<div mat-dialog-content>
  <mat-form-field style="width: 100%" appearance="outline">
    <input matInput placeholder="Colours" aria-label="Colour" [matAutocomplete]="autoColor" [formControl]="colorCtrl" (keyup.enter)="addColorOption()">
    <mat-autocomplete #autoColor="matAutocomplete" (optionSelected)="optionColorSelected($event.option)"  [displayWith]="colorDisplayFn">
      <mat-option *ngFor="let item of filteredColorsItems | async" [value]="item">
        <span>{{item.name}}</span>
      </mat-option>
    </mat-autocomplete>
    <button *ngIf="showAddButtonInColor && colorCtrl.value" matSuffix mat-button mat-icon-button (click)="addColorOption()">
      <mat-icon matTooltip='Add "{{colorCtrl.value}}"'>add</mat-icon>
    </button>
  </mat-form-field>


  <mat-form-field style="width: 100%" appearance="outline">
    <input matInput placeholder="Materials" aria-label="Material" [matAutocomplete]="autoMaterial" [formControl]="materialCtrl" (keyup.enter)="addOption()">
    <mat-autocomplete #autoMaterial="matAutocomplete" (optionSelected)="optionSelected($event.option)" [displayWith]="materialDisplayFn">
      <mat-option *ngFor="let m of filteredMaterialsItems | async" [value]="m">
        <span>{{ m }}</span>
      </mat-option>
    </mat-autocomplete>
    <button *ngIf="showAddButtonInMaterial && materialCtrl.value" matSuffix mat-button mat-icon-button (click)="addOption()"><mat-icon matTooltip='Add "{{materialCtrl.value}}"'>add</mat-icon></button>
  </mat-form-field>

<mat-form-field style="width: 100%" appearance="outline">
  <mat-label>Size of the product in the image</mat-label>
  <input matInput type="text" placeholder="LxWxH" [formControl]="dimensionControl" >
</mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button mat-dialog-close>Confirm</button>
</div>
