
<div style="margin: 2rem;">
  <mat-list>
    <mat-list-item [routerLink]="['/colors']" class="pointer">colori</mat-list-item>
    <mat-list-item [routerLink]="['/categories']" class="pointer">categorie</mat-list-item>
    <mat-list-item [routerLink]="['/materials']" class="pointer">materiali</mat-list-item>
    <mat-list-item [routerLink]="['/product-types']" class="pointer">tipo prodotti</mat-list-item>
    <mat-list-item [routerLink]="['/shapes']" class="pointer">forme</mat-list-item>
    <mat-list-item [routerLink]="['/relations']"  class="pointer">Click me</mat-list-item>
  </mat-list>
</div>
